<nav>
    <ul>
        <li><a href="#" data-filter="*">All</a></li>
        <li><a href="#" data-filter=".photo">Photos</a></li>
        <li><a href="#" data-filter=".blog">Posts</a></li>
        <li><a href="#" data-filter=".project">Projects</a></li>
        <li><a href="#" data-filter=".project, .photo">Projects and Photos</a></li>
    </ul>
</nav>
<nav>
    <ul>
        <li><a href="#" id="gutterToggler">TOGGLE GUTTER</a></li>
        <li><a href="#" id="masonryToggler">TOGGLE MASONRY</a></li>
    </ul>
</nav>