<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#if modules}}
    <script defer type="module" src="../src/griddie.js"></script>
    {{/if}}

    <link rel="stylesheet" type="text/css" href="./assets/dist/test.css" />
</head>

<body>
    <div class="container">
        {{> index.nav }} {{> index.grid }}
    </div>

    {{#if modules}}
    <script defer type="module" src="./assets/src/test.js"></script>
    {{/if}}
    {{#unless modules}}
    <script defer src="./assets/dist/test.js"></script>
    {{/unless}}
</body>

</html>