<!DOCTYPE html>
<html>

<head>
    <script src="{{library}}"></script>
    <link rel="stylesheet" type="text/css" href="{{css}}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    {{> index.nav }} {{> index.grid }}
    <script src="{{js}}"></script>
</body>

</html>