$color-1: #374046;
$color-2: #ffffff;
$color-3: #f44336;
$color-4: #607d8b;

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    color: $color-2;
    background-color: $color-1;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    color: $color-3;
    font-weight: bolder;
    text-decoration: none;
}

p {
    margin: 0;

    ~ p {
        margin-top: 10px;
    }
}

%clearfix {
    zoom: 1;

    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

nav {
    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    li {
        margin: 0.5px;
        display: block;
    }

    a {
        transition: background-color 0.4s ease, color 0.4s ease;
        background-color: $color-4;
        padding: 8px;
        font-size: 12px;
        color: $color-2;
        display: block;

        &.selected,
        &:hover {
            background-color: darken($color-4, 8);
        }

        &:active,
        &.selected:hover {
            background-color: darken($color-4, 12);
        }

        &.selected:active {
            background-color: darken($color-4, 16);
        }
    }
}

.container {
    @extend %clearfix;
}

.grid {
    &.masonry {
        grid-gap: 10px;
        margin: 10px;

        &.collapse {
            grid-gap: 1px;
            margin: 1px;
        }
    }

    &.standard {
        @extend %clearfix;
        margin: 5px;

        &.collapse {
            margin: 0.5px;
        }
    }
}

.item {
    color: $color-1;
    background-color: $color-2;

    .standard & {
        float: left;
        width: calc(33.333% - 10px);
        margin: 5px;
    }

    .standard.collapse & {
        width: calc(33.333% - 1px);
        margin: 0.5px;
    }
}

.title {
    padding: 5px 15px;

    h3 {
        color: $color-2;
        text-transform: uppercase;
    }

    .project & {
        background-color: #f77b7b;
    }

    .blog & {
        background-color: #b5b4df;
    }

    .photo & {
        background-color: #fedf93;
    }
}

.desc {
    padding: 10px 10px 5px 10px;
}
